
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100vh;

}
.title-bar {
  -webkit-app-region: drag;
  margin: 0;

  background-color: #4D394B;
  width: 100%;
  height: 100%;

}

.menu-button-container {
  background-color: white;
  border: 0.5px red solid;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.app-name-container {
  background-color: white;
  border: 0.5px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.window-controls-container {
  background-color: #4d394b;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  display: flex;
}

.menu-button {
  -webkit-app-region: no-drag;
  background-color: green;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.minimize-button {
  background-color: #ffbd4c;
}

.close-button {
  background-color: #ff5c5c;
}

.min-max-button {
  background-color: #00ca56;
}

.menu-buttons {
  -webkit-app-region: no-drag;
  border-radius: 50%;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  border: 0;
}




.project-menu .span-title {
  display: block;
  font-size: 16px;
  line-height: 1.375rem;
  max-width: 9.12rem;
  color: #fff;
  font-weight: 900;
  padding-left: 6px;
}

.project-menu .span-label {
  color: #fff;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  padding-left: 1.5rem;
  display: block;
  font-size: 14px;
}
.project-menu .span-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 2px solid #ffd152;
}

.project-menu .content {
  padding: 1.5rem 0;
}

.project-menu .content .sub-content {
  padding: 0.5rem 0;
}

.fieldsetContainer {
    height: 0;
    overflow: hidden;
    transition: height 400ms linear;
}

#toggle {
    display: none;
}

#toggle:checked ~ .fieldsetContainer {
    height: 50px;
}

label .arrow-dn { display: inline-block; }
label .arrow-up { display: none; }

#toggle:checked ~ label .arrow-dn { display: none; }
#toggle:checked ~ label .arrow-up { display: inline-block; }


/********/
#commits {
    display: none;
}

#commits:checked ~ .fieldsetContainer {
  height: 100px;
}
/********/

.expand {
  display: flex;
}



.changeArrow {
  background: #584B4F;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  margin-top: 5px;
  width: 11px;
  height: 11px;
  border: 1px solid #584B4F;
  border-radius: 50%;
  display: inline-block;
  /* height: 9px; */
  text-align: center;
  color: #FFF;
}
.about-wrapper {
  overflow: auto;
  display: flex;
  height: 100vh;
}

.about-header {
  width: 60px;
  background: #584B4F;
}

.project-menu {
  background-color: #4C9689;
  width: 150px;


}

.about-content {
  background: #FFF;
  width: 80%;
  z-index: 11;
  display: inline-block;
  height: 100vh;
  margin-left: 2%;
}

.side-menu {
  top: 0;
  bottom: 0;
  z-index: 11;
  height: 100%;
  float: left;
}

.notification-counter {
  top: -2px;
  left: 12px;
  background-color: #EC4C5C;
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}



/* ©2015 Johannes Jakob
   Made with <3 in Germany */

body {
  background: #ecf0f1;
  color: #000;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

/* window BEGIN */

a {
  text-decoration: none;
}

span {
  line-height: 9px;
  vertical-align: 50%;
}

.window {
  background: #fff;
  width: 50vw;
  height: 75vh;
  margin: auto;
  margin-top: 12.5vh;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
}

.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.content {
  padding: 10px;
}

h3 {
  margin-top: 0px;
}
