/*Default*/
$primary-color: #493D55;
$secondary-color: #4C9689;
$secondary-color-gradient-1: #1b735f;
$secondary-color-gradient-2: #1e816b;

/*Atom*/
// $primary-color: #584B4F;
// $secondary-color: #343334;
// $secondary-color-gradient-1: #5c5a5b;
// $secondary-color-gradient-2: #706f70;
