/*Default*/
$primary-color: #493D55;
$secondary-color: #4C9689;
$secondary-color-gradient-1: #1b735f;
$secondary-color-gradient-2: #1e816b;

$close-button-color: #820005;
$close-button-background: #ff5c5c;
$close-button-border-color: #e33e41;
$close-button-active-background: #c14645;
$close-button-active-border-color: #b03537;
$close-button-active-color: #4e0002;

/*Atom*/
/*
$primary-color: #584B4F;
$secondary-color: #343334;
$secondary-color-gradient-1: #5c5a5b;
$secondary-color-gradient-2: #706f70;
*/
